<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务系统</title>
</head>

<body>
    <div style="padding: 100px 100px 10px;">

	<form class="form-horizontal" role="form">
  		<div class="form-group">
   			<label for="customerName" class="col-sm-2 control-label">姓名</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="customerName" placeholder="请输入名字">
   			</div>
  		</div>
  		<div class="form-group">
    		<label for="customeraAcount" class="col-sm-2 control-label">账户</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="customerAccount" placeholder="请输入银行卡号">
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="depositAccount" class="col-sm-2 control-label">存款金额</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="depositAccount" placeholder="请输入存款金额">
    		</div>
  		</div>
  		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-default" style="color:blue" onclick="commitDeposit()">确认存款</button>
  	  		</div>
  		</div>
	</form>
	</div>

</body>
</html>

<script src="../../public/javascripts/employee/deposit.js"></script>

