<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务系统</title>
    <!--设置网页在浏览器tab选项卡上的图标-->
    <link rel="shortcut icon" href="../../public/images/logo.png" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/public/stylesheets/employee/employee.css">

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">这是员工 <%= name %>      的页面</a>
        </div>
        <div>
            <form class="navbar-nav navbar-right">
                <button id="createAccount" class="btn btn-default btn-sm" >开户</button>
            </form>
            <form class="navbar-nav navbar-right">
                <button id="log-out" class="btn btn-default btn-sm" >注销</button>
            </form>
        </div>
    </div>
</nav>

<!--开户模态框-->
<div class="modal fade" id="caModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header" >
                <h4 class="modal-title">
                        开户
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="padding-bottom: 8px;">
                <form id="applyAccount">
                    <table style="width:80%;padding: 3px" class="table">
                        <tr>
                            <td>开户人姓名</td>
                            <td><input type="text" class="form-control"  name="customerName"></td>
                        </tr>
                        <tr>
                            <td>开户人身份证号</td>
                            <td><input type="text" class="form-control"  name="customerID"></td>
                        </tr>
                        <tr>
                            <td>设置密码</td>
                            <td><input type="password" class="form-control" name="Password"></td>
                        </tr>
                        <tr>
                            <td>创建人</td>
                            <td><input type="text" class="form-control" readonly name="creator"></td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td><input class="form-control startTime" readonly name="creatTime"></td>
                        </tr>
                    </table>
                 </form>
                <div style="height: 10px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="alertModal_Cancel">取消</button>
                <button type="button" id="applyForAccount" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 ">
        <ul class="nav flex-column nav-pills leftNav" id="leftNav">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="employeehome" onclick="show('/home')">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="employeedeposit" onclick="show('/deposit')">存款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="employeewithdrawal" onclick="show('/withdrawal')">取款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="employeetrans" onclick="show('/trans')">转账</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="employeeloan" onclick="show('/loan')">贷款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="employeedraft" onclick="show('/draft')">汇票</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="content">
            欢迎使用银行业务管理系统
        </div>
    </div>
</div>

</body>
</html>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery/jquery.cookie.js"></script>
<script src="/public/plugins/jQuery/jquery.jdirk.js" type="text/javascript" charset="utf-8"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/icheck/icheck.min.js"></script>
<script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>

<script src="/public/javascripts/employee/employee.js"></script>
<script src="/public/javascripts/myViews/check6pw.js"></script>
