<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务系统</title>
    <!--设置网页在浏览器tab选项卡上的图标-->
    <link rel="shortcut icon" href="../../public/images/logo.png" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/public/stylesheets/customer/customer.css">
</head>
<body>

<link rel="stylesheet" href="/public/stylesheets/myViews/check6pw.css">
<div class="modal fade" id="check6pwModal" tabindex="-1" role="dialog"  aria-hidden="true" >
    <div class="modal-dialog" role="document" onclick="fixFocus()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请输入6位数密码</h5>
                <!--hidden part-->
                <input type="text" id="hiddenInput" maxlength="6" style="opacity: 0;">
            </div>
            <div class="modal-body" style="height: 150px">
                <!--display part-->
                <div id="blocks" style="width: 100%">
                </div>
                <div id="checkResult">
                    <!--todo loading icon-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery/jquery.cookie.js"></script>
<script src="/public/plugins/jQuery/jquery.jdirk.js" type="text/javascript" charset="utf-8"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/icheck/icheck.min.js"></script>

