<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>waterfalltest</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/public/stylesheets/customer/customer.css">
</head>
<body>
    <button onclick="water()">hahha</button>

    <div id="testbody" style="margin-left: 300px;margin-top: 50px;background: lightgray;height: 400px">

        <div id="test1div" style="width:300px;height: 300px;background: #00B7FF;float: left">
            test1
            <button id="test1back">test1back</button>
            <button id="test1next">test1next</button>
            <button id="test1alert">test1alert</button>
            <p id="test1data1">hahaha 1</p>
            <input type="text" id="test1data2">
        </div>
        <div id="test2div" style="width:300px;height: 300px;background: #6a5a8c;float: left">
        test2
        </div>
        <div id="test3div" style="width:300px;height: 300px;background: #ff7700;float: left">
            test3
            <button id="test3back">test3back</button>
            <button id="test3next">test3next</button>
            <button id="test3alert">test3alert</button>
        </div>
        <!--<div id="test4div" style="width:300px;height: 300px;background: #24AA7A;float: left">-->
            <!--test4-->
        <!--</div>-->
        <div id="test5div" style="width:300px;height: 300px;background: #444444;float: left">
            test5
            <button id="test5back">test3back</button>
            <button id="test5next">test3next</button>
            <button id="test5alert">test5alert</button>
        </div>
    </div>




</body>
</html>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery/jquery.cookie.js"></script>
<script src="/public/plugins/jQuery/jquery.jdirk.js" type="text/javascript" charset="utf-8"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/icheck/icheck.min.js"></script>

<script src="/public/javascripts/myViews/check6pw.js"></script>
<script src="/public/javascripts/waterfall.js"></script>
<script src="/public/javascripts/test.js"></script>
