<link rel="stylesheet" href="/public/stylesheets/myViews/check6pw.css">
<div class="modal fade" id="check6pwModal" tabindex="-1" role="dialog" aria-hidden="true" onclick="fixFocus()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请输入6位数密码</h5>
                <!--hidden part-->
                <input type="text" id="hiddenInput" maxlength="6" style="opacity: 0">
            </div>
            <div class="modal-body" style="height: 150px">
                <!--display part-->
                <div id="blocks" style="width: 100%">
                </div>
                <div id="checkResult">
                    <!--todo loading icon-->
                </div>
            </div>
        </div>
    </div>
</div>


