<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ceshi</title>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">暂时</a></li>
        <li class="breadcrumb-item"><a href="#">先</a></li>
        <li class="breadcrumb-item active" aria-current="page">留着</li>
    </ol>
    基本信息
</nav>
<button onclick="test()">test</button>
</body>
</html>
<script>
    function test() {
        $.ajax({
            url: "customer/basicInfo/ggg",
            type: 'get',
            dataType: 'html',
            success: function (data) {
                alert(data);
            }
        });
    }
</script>
