
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">暂时</a></li>
            <li class="breadcrumb-item"><a href="#">先</a></li>
            <li class="breadcrumb-item active" aria-current="page">留着</li>
        </ol>
    </nav>

    <% for(var i in accounts){ %>
    <div class="card bg-light mb-3 accountCard" style="max-width: 18rem;">
        <div class="card-header" id="accountNo<%= i%>"> <%= accounts[i].AccountNo %></div>
        <% if(accounts[i].Status == "1" ){ %>
            <div class="card-body">
                <!--<h5 class="card-title">I类卡</h5>-->
                <div class="cardBalanceArea">
                    <div class="cardBalance d-flex justify-content-center align-items-center" id = "balance<%= accounts[i].AccountNo %>" onclick="getBalance(<%= accounts[i].AccountNo %>)">
                        余额
                    </div>
                </div>
                <div class="btn-toolbar justify-content-between cardBtnGroup" role="toolbar" aria-label="Toolbar with button groups">
                    <p style="float: left;width: 60%">创建日期：<%= accounts[i].CreatingDate%></p>
                    <button type="button" style="float: left" class="btn btn-outline-secondary" onclick="trans(<%= i%>)">转账</button>
                </div>
            </div>
        <% } else {%>

            <div>你的账户已经被冻结</div>
        <% } %>

    </div>
    <% } %>

</div>
