<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务系统</title>
    <!--设置网页在浏览器tab选项卡上的图标-->
    <link rel="shortcut icon" href="../../public/images/logo.png" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/public/stylesheets/customer/customer.css">
</head>
<body>
<div class="top">
    这是客户 <%= name %>      的页面
</div>
<div class="row">
    <div class="col-md-3 ">
        <ul class="nav flex-column nav-pills leftNav" id="leftNav">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="show('/home')">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="show('/basicInfo')">基本信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="show('/trans')">转账</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="show('/loan')">贷款</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="content">
            ceshi
        </div>
    </div>
</div>
<%include ../myViews/check6pw.html %>
</body>
</html>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery/jquery.cookie.js"></script>
<script src="/public/plugins/jQuery/jquery.jdirk.js" type="text/javascript" charset="utf-8"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/icheck/icheck.min.js"></script>

<script src="/public/javascripts/customer/customer.js"></script>
<script src="/public/javascripts/myViews/check6pw.js"></script>
