<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务系统</title>
    <!--设置网页在浏览器tab选项卡上的图标-->
    <link rel="shortcut icon" href="../../public/images/logo.png" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/public/stylesheets/customer.css">
</head>
<body>
<div class="top">

</div>
<div class="row">
    <div class="col-md-3 ">
        <ul class="nav nav-pills nav-stacked leftNav" id = "leftNavs">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="#" onclick="show('/basicInfo')">基本信息</a></li>
            <li role="presentation"><a href="#">转账</a></li>
            <li role="presentation"><a href="#">贷款</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="content">
            ceshi
        </div>
    </div>
</div>
</body>
</html>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery/jquery.cookie.js"></script>
<script src="/public/plugins/jQuery/jquery.jdirk.js" type="text/javascript" charset="utf-8"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/icheck/icheck.min.js"></script>

<script src="/public/javascripts/customer.js"></script>
