<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" role="form" style="width: 400px;margin-left: 80px">

    <div class="form-group">
        <label class="col-sm-4 control-label">姓名：</label>
        <input class="text_input" type="text" id="customerName" placeholder="请输入姓名">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">职业：</label>
        <input class="text_input" type="text" id="job" placeholder="请输入职业">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">工作单位：</label>
        <input class="text_input" type="text" id="corporation" placeholder="请输入工作单位">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">月薪：</label>
        <input class="text_input" type="text" id="monthlySalary" placeholder="请输入月薪">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">贷款金额：</label>
        <input class="text_input" type="text" id="loanAmount" placeholder="请输入贷款金额">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">贷款账号：</label>
        <input class="text_input" type="text" id="cardNumber" placeholder="请输入贷款账号">
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" style="float: left">贷款期限：</label>
        <select id="timeLimit" style="width: 266px;">
            <option value="0">请选择贷款期限</option>
            <option value="3">3个月</option>
            <option value="6">6个月</option>
            <option value="12">12个月</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">贷款利率：</label>
        <input class="text_input" type="text" id="interestRate" disabled>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">逾期利率：</label>
        <input class="text_input" type="text" id="overdueRate" disabled>
    </div>
    <div class="form-group">
        <button type="button" id="commitBtn">提交申请</button>
    </div>
</form>

</body>
</html>
<script src="../../public/javascripts/customer/loan.js"></script>
