<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="test()">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
</ul>
<!--<div class="card bg-light mb-3 accountCard" style="max-width: 18rem;">-->
    <!--<div class="card-header" id=""></div>-->
    <!--<div class="card-body">-->
        <!--<h5 class="card-title">I类卡</h5>-->
        <!--<div class="cardBalanceArea">-->
            <!--<div class="cardBalance d-flex justify-content-center align-items-center">-->
                <!--余额-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>
<script src="../../public/javascripts/customer/trans.js"></script>
